* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    position: fixed;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
    z-index: 1;
    width: 100%;

}


main {
    width: 45vw;
    height: 50vh;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin: auto;
    margin-top: 100px;



}
#inputJ[type="text"] {
    border: 2px inset black;
}

.inbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    border: 5% inset black;
    width: 2vw;
    height: 5vh;
    padding: auto;
    padding-top: 30%;
    background-color: hsl(183, 70%, 47%);
}

#button {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10%;
    border: 2px solid black;
    width: 30%;
    height: 65%;
    padding: 2%;
}

#input {
    width: 20vw;
    height: 5vh;
    background-color: white;
    border-radius: 10px;
    border: none;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2%;
}